:root {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ddebeb;


  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 0px;
  margin: 0px;

}

h1{
  position: sticky;
  top: 0rem;
  background-color: rgba(0, 0, 0, 0.144);
  width: 98vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
